article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  img {
    display: block;

    @media (max-width: 350px) {
      height: 156px;
      width: 156px;
    }
  }

  h2 {
    margin: 10px 0 15px;

    @media (max-width: 700px) {
      font-size: 16px;
      margin: 4px 0 8px;
    }
  }

}


.itemParams {
  width: 280px;
  padding: 6px;
  border-radius: 10px;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;

  @media (max-width: 350px) {
    width: 210px;
    padding: 6px;
  }
}

.param {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 100%;

  @media (max-width: 700px) {
    height: 21px;
    font-size: 66%;
    border-radius: 3px;
  }

  button {
    font-weight: 700;
    letter-spacing: 0.015em;
    width: 100%;
    border: none;
    height: 32px;
    background-color: #F3F3F3;
    border-radius: 5px;
    cursor: pointer;

    &.active {
      background-color: #FFF;
    }

    @media (max-width: 700px) {
      height: 100%;
    }
  }
}


footer {
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 700px) {
    width: 280px;
  }

  @media (max-width: 350px) {
    width: 230px;
  }

  p {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700;

    @media (max-width: 700px) {
      font-size: 14px;
    }
  }
}


.addBlock {
  position: relative;
  margin-right: 5px;

  .add {
    width: 132px;
    height: 40px;
    border: 1px solid #FE5F1E;
    border-radius: 30px;
    background-color: #FFF;
    color: #FE5F1E;
    cursor: pointer;
    font-weight: 700;

    @media (max-width: 700px) {
      width: 100px;
      height: 30px;
      font-size: 66%;
    }

    @media (min-width: 1071px) {
      &:hover {
        background-color: #FE5F1E;
        color: #FFF;
      }
    }

    &.clone {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
