article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  @media (max-width: 700px) {
    h2 {
      font-size: 16px;
      margin: 6px;
    }
  }

  @media (max-width: 350px) {
    img {
      height: 155px;
      width: 155px;
    }
  }
}


.itemParams {
  padding: 6px;
  border-radius: 10px;
  background-color: #F3F3F3;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;

  @media (max-width: 350px) {
    width: 210px;
    padding: 6px;
  }
}

.param {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 100%;

  button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.015em;
    width: 100%;
    border: none;
    height: 32px;
    background-color: #F3F3F3;
    border-radius: 5px;
    cursor: pointer;

    &.active {
      background-color: #FFF;
    }

    @media (max-width: 700px) {
      height: 21px;
      font-size: 10px;
      border-radius: 3px;

    }
  }
}


footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700;

    @media (max-width: 700px) {
      font-size: 14px;
    }
  }
}



.addBlock {
  position: relative;
  margin-right: 5px;

  .add {
    width: 132px;
    height: 40px;
    border: 1px solid #FE5F1E;
    border-radius: 30px;
    background-color: #FFF;
    color: #FE5F1E;
    cursor: pointer;
    font-weight: 700;

    @media (max-width: 700px) {
      width: 100px;
      height: 30px;
      font-size: 66%;
    }

    &:hover {
      background-color: #FE5F1E;
      color: #FFF;
    }

    &.clone {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}