article {
  height: 485px;
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.itemParams {
  padding: 0 6px;
  border-radius: 10px;
  background-color: #F3F3F3;
  height: 85px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.param {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 100%;

  button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.015em;
    width: 100%;
    border: none;
    height: 32px;
    background-color: #F3F3F3;
    border-radius: 5px;
    cursor: pointer;

    &.active {
      background-color: #FFF;
    }
  }
}


footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  p {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700;
  }
}



.addBlock {
  position: relative;

  .add {
    width: 132px;
    height: 40px;
    border: 1px solid #FE5F1E;
    border-radius: 30px;
    background-color: #FFF;
    color: #FE5F1E;
    cursor: pointer;
    font-weight: 700;

    &:hover {
      background-color: #FE5F1E;
      color: #FFF;
    }

    &.clone {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@keyframes moveToCart {
  50% {
    position: fixed;
    right: 100px;
    top: 450px;
  }

  99% {
    position: fixed;
    right: 100px;
    top: 150px;
  }

  to {
    position: fixed;
    right: 100px;
    top: 150px;
    display: none;
  }
}



.thing {

  margin: 100px;

  &:hover {
    background-color: #FE5F1E;
    color: #FFF;
    transition: transform 300ms;
    transform: translateX(200px);
  }
}