article {
  height: 485px;
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.itemParams {
  padding: 0 6px;
  border-radius: 10px;
  background-color: #F3F3F3;
  height: 85px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.param {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 100%;

  button {
    flex: auto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.015em;
    width: 100%;
    border: none;
    height: 32px;
    background-color: #FFF;
    border-radius: 5px;
    cursor: pointer;
  }
}


footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 22px;
    font-weight: 700;
  }
}

.add {
  width: 132px;
  height: 40px;
  border: 1px solid #FE5F1E;
  border-radius: 30px;
  background-color: #FFF;
  color: #FE5F1E;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background-color: #FE5F1E;
    color: #FFF;
  }
}


// .plus {
//   background: #FE5F1E;
//   height: 12px;
//   width: 2px;
//   border-radius: 1px;
//   position: relative;
//   left: 5px;

//   &:after {
//     content: "";
//     height: 2px;
//     width: 12px;
//     border-radius: 1px;
//     background: #FE5F1E;
//     position: absolute;
//     left: -5px;
//     top: 5px;
//   }
// }

// &:hover {
//   background-color: #FE5F1E;
//   color: #FFF;
// 
// .plus {
//   background: #FFF;
// 
//   &:after {
//     background: #FFF;
//   }
// }
// }