%minus {
  height: 2px;
  width: 12px;
  border-radius: 1px;
  background: #FE5F1E;
  position: relative;
  left: 0px;
  cursor: pointer;

  &:after {
    padding: 12px;
    border-radius: 100%;
    cursor: pointer;
    content: "";
    position: absolute;
    left: -6px;
    top: -11px;
  }

  @media (max-width: 700px) {
    width: 8px;

    &:after {
      padding: 8px;
      left: -4px;
      top: -7px;
    }
  }
}

.wrapper {
  margin: 94px 22% 0 22%;

  @media (max-width: 1070px) {
    margin: 62px 10% 0 10%;
  }

  @media (max-width: 700px) {
    margin: 15px 10% 0 10%;
  }

  @media (max-width: 620px) {
    margin: 15px 7% 0 7%;
  }

  @media (max-width: 410px) {
    margin: 15px 7px 0 7px;
  }
}

.header {
  display: flex;
  justify-content: space-between;



  .left {
    display: flex;
    align-items: center;

    @media (max-width: 700px) {
      img {
        height: 66%;
      }
    }

    h1 {
      margin: 0 17px;
      max-width: 350px;
      word-wrap: break-word;
      display: flex;

      @media (max-width: 700px) {
        font-size: 20px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      margin: 0;
      margin-left: 7px;
      position: relative;
      top: 2px;

      @media (max-width: 700px) {
        font-size: 66%;
      }
    }
  }
}

.separator {
  margin-top: 30px;
  background-color: #F4F4F4;
  height: 1px;

  @media (max-width: 700px) {
    margin-top: 10px;
  }
}

.content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 700px) {
    margin-top: 10px;

    img {
      width: 55px;
      height: 55px;
    }
  }

  .info {
    min-width: 260px;

    @media (max-width: 700px) {
      min-width: 170px;

      h2 {
        font-size: 16px;
        margin-bottom: 10px;
      }

      p {
        font-size: 66%;
      }
    }

  }

  .add {
    width: 15%;
    height: 40px;
    border: 1px solid #FE5F1E;
    border-radius: 30px;
    background-color: #FFF;
    color: #FE5F1E;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 700px) {
      height: 28px;

      p {
        font-size: 66%
      }
    }

    @media (min-width: 1071px) {
      &:hover {
        background-color: #FE5F1E;
        color: #FFF;

        .plus,
        .minus {
          background-color: #FFF;

          &:before {
            background-color: #FFF;
          }
        }
      }
    }

    .minus {
      @extend %minus;
    }

    .plus {
      @extend %minus;

      &:before {
        content: "";
        height: 12px;
        width: 2px;
        border-radius: 1px;
        background-color: #FE5F1E;
        position: absolute;
        left: 5px;
        top: -5px;

        @media (max-width: 700px) {
          height: 8px;
          left: 3px;
          top: -3px;
        }
      }
    }
  }

  .price {
    min-width: 80px;
    display: flex;
    justify-content: space-around;

    @media (max-width: 700px) {
      font-size: 66%;
      min-width: 55px;
    }
  }

}

.delete {
  min-width: 32px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 50%;
  border: solid 2px #D7D7D7;
  cursor: pointer;

  .x {
    left: 13px;
    background: #D7D7D7;
    height: 14px;
    position: relative;
    width: 2px;
    rotate: 45deg;

    &:after {
      position: absolute;
      background: #D7D7D7;
      content: "";
      height: 2px;
      left: -6px;
      top: 6px;
      width: 14px;
    }
  }

  @media (max-width: 700px) {
    min-width: 20px;
    height: 20px;

    .x {
      left: 7px;
      height: 8px;

      &:after {
        left: -3px;
        top: 3px;
        width: 8px;
      }
    }

  }


  &:hover {
    border: solid 2px rgb(201, 201, 201);
    transition: 0.5s;

    .x,
    .x:after {
      background: rgb(201, 201, 201);
      transition: 0.5s;
    }
  }
}