%minus {
  height: 2px;
  width: 12px;
  border-radius: 1px;
  background: #FE5F1E;
  position: relative;
  left: 0px;
  cursor: pointer;

  &:after {
    padding: 12px;
    border-radius: 100%;
    cursor: pointer;
    content: "";
    position: absolute;
    left: -7px;
    top: -12px;
  }
}

.wrapper {
  margin: 94px 16% 0 22%;
}

.header {
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    text-align: center;

    h1 {
      margin-top: 32px;
      margin: 0 17px;
      max-width: 350px;
      word-wrap: break-word;
      display: flex;
      align-items: center;
    }
  }

  .right {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      margin: 0;
      margin-left: 7px;
      position: relative;
      top: 2px;
    }
  }
}

.separator {
  margin-top: 30px;
  background-color: #F4F4F4;
  height: 1px;
}

.content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info {
    min-width: 260px;
  }

  .add {
    width: 15%;
    height: 40px;
    border: 1px solid #FE5F1E;
    border-radius: 30px;
    background-color: #FFF;
    color: #FE5F1E;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:hover {
      background-color: #FE5F1E;
      color: #FFF;

      .plus,
      .minus {
        background-color: #FFF;

        &:before {
          background-color: #FFF;
        }
      }
    }

    .minus {
      @extend %minus;
    }

    .plus {
      @extend %minus;

      &:before {
        content: "";
        height: 12px;
        width: 2px;
        border-radius: 1px;
        background-color: #FE5F1E;
        position: absolute;
        left: 5px;
        top: -5px;
      }
    }
  }

  .price {
    min-width: 70px;
    display: flex;
    justify-content: space-around;
  }

}

.delete {
  min-width: 32px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 50%;
  border: solid 2px #D7D7D7;
  cursor: pointer;

  .x {
    left: 13px;
    background: #D7D7D7;
    height: 14px;
    position: relative;
    width: 2px;
    rotate: 45deg;

    &:after {
      position: absolute;
      background: #D7D7D7;
      content: "";
      height: 2px;
      left: -6px;
      top: 6px;
      width: 14px;
    }
  }

  &:hover {
    border: solid 2px rgb(201, 201, 201);
    transition: 0.5s;

    .x,
    .x:after {
      background: rgb(201, 201, 201);
      transition: 0.5s;
    }
  }
}