.filter button {
  cursor: pointer;
  padding: 8px 25px;
  margin-right: 9px;
  margin-bottom: 6px;
  height: 46px;
  border-radius: 30px;
  border: none;
  background-color: #F9F9F9;
  font-weight: 700;
  letter-spacing: 0.015em;

  &.active {
    background-color: black;
    color: #F9F9F9;
  }
}