Header {
  padding: 50px 40px 40px 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F6F6F6;

  @media (max-width: 700px) {
    justify-content: space-around;
    padding: 15px 7px;
    align-items: center;
  }

  @media (max-width: 500px) {
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
  }
}

.headerBrand {
  display: flex;
  align-items: center;
  margin-right: 10px;

  img {
    margin-right: 17px;

    @media (max-width: 700px) {
      margin-right: 10px;
    }
  }

  h3 {
    font-weight: 800;
    font-size: 24px;
    margin: 0;

    @media (max-width: 700px) {
      font-weight: 700;
      font-size: 16px;
    }
  }

  p {
    color: #7B7B7B;
    margin: 0;

    @media (max-width: 700px) {
      font-size: 66%;
    }
  }
}

.headerCart {
  height: 50px;
  padding: 0 23px;
  margin-left: 10px;
  border-radius: 30px;
  background-color: #FE5F1E;
  display: flex;
  align-items: center;

  @media (max-width: 700px) {
    border-radius: 20px;
    height: 32px;
    display: flex;
    padding: 0 10px;
    align-items: center;
  }


  p {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 16px;
    white-space: nowrap;

    @media (max-width: 700px) {
      font-weight: 700;
      font-size: 10px;
    }
  }
}

.pipeLine {
  width: 1px;
  height: 28px;
  background: rgba(255, 255, 255, 0.25);
  margin: 0 13px;
  position: relative;

  @media (max-width: 700px) {
    margin: 0 8px;
    height: 20px;
  }
}
