.mainHeader {
  margin-left: 67px;
  margin-right: 48px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media (max-width: 700px) {
    flex-direction: column-reverse;
    margin: 0;
    padding-top: 15px;
    align-items: center;
  }
}

h1 {
  flex-basis: 100%;
  margin: 38px 67px 45px;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.01em;

  @media (max-width: 700px) {
    display: none;
  }
}

.content {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 37px;

  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1070px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 28px;
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }
}