.mainHeader {
  margin-left: 67px;
  margin-right: 48px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sorter {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;

  button {
    padding: 0;
    margin-left: 8px;
    border: none;
    border-bottom: 1px dotted #FE5F1E;
    border-bottom-width: thin;
    background-color: inherit;
    display: inline-block;
  }
}

.triangle {
  margin: 0 7px;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid black;
}

h1 {
  flex-basis: 100%;
  margin: 38px 67px 35px;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.01em;
}

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  align-items: stretch;

  row-gap: 65px;

}