.sorter {
  text-align: right;
  margin-left: 8px;
  min-width: 200px;
  font-weight: 700;
  font-size: 14px;

  @media (max-width: 700px) {
    margin-bottom: 15px;
    text-align: center;
    font-size: 66%;
  }

  button {
    padding: 0;
    margin-left: 8px;
    border: none;
    border-bottom: 1px dotted #FE5F1E;
    border-bottom-width: thin;
    background-color: inherit;
    display: inline-block;
    cursor: pointer;
  }
}

.triangle {
  margin: 0 7px;
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
  border-radius: 2px;
  transform: translateY(-1px);
  cursor: pointer;

  &.active {
    rotate: 180deg;
    transform: translateY(1px);
  }
}

.popup {
  background-color: white;
  opacity: 0.9;
  font-weight: 400;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  position: absolute;
  transform: translate(58px, 10px);

  ul {
    padding: 13px 0;
    min-width: 150px;

    @media (max-width: 700px) {
      min-width: 100px;
    }
  }

  li {
    line-height: 17px;
    text-align: right;
    padding: 10px 10px 10px 20px;
    cursor: pointer;

    @media (max-width: 700px) {
      padding: 6px 6px 6px 14px;
    }

    &:hover {
      background-color: rgba(254, 95, 30, 0.2);
      font-weight: 700;
      color: #FE5F1E;
    }
  }
}