* {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(117, 26, 26, 0.04);
  border-radius: 20px;
  max-width: 1340px;
  margin: 45px auto;

  @media (max-width: 1440px) {
    margin-top: 25px;
  }

  @media (max-width: 1070px) {
    margin-top: 0;
  }
}